Repository eniblock/frontlibrary: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-xdev-lib, build-eniblock

build-xdev-lib:
  stage: build
  script:
  - npm install -g @angular/cli
  - npm install @angular-devkit/build-angular
  - ng build xdev-lib -c production
  artifacts:
    paths:
    - dist/xdev-lib/*
    expire_in: 1 week

build-eniblock:
  stage: build
  script:
  - npm install -g @angular/cli
  - npm install @angular-devkit/build-angular
  - ng build eniblock -c production
  artifacts:
    paths:
    - dist/eniblock/*
    expire_in: 1 week

chore: Migrate the npm configuration to use github instead of gitlab
  package-lock.json
  package.json
  projects/eniblock/package.json
  projects/xdev-lib/package-lock.json
  projects/xdev-lib/package.json
Due: build-xdev-lib, build-eniblock

feat: Create the earthly targets to ease building and deploying locally
  .earthignore
  Earthfile
Due: none

ci: Add a workflow that runs the builds
  .github/workflows/ci.yml
Due: none

doc: Add the instruction about how to deploy
  README.md
Due: none

rename to @eniblock and host it on github
  Earthfile
  package.json
  projects/xdev-lib/package.json
Due: build-xdev-lib

Path conditions:
  build-xdev-lib: any of: projects/xdev-lib/*
  build-eniblock: any of: projects/eniblock/*
